<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="r0" value="995117"/>
    <add key="a" value="997573"/>
    <add key="m" value="999983"/>
  </appSettings>
</configuration>